# Python-related
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data files
# Ignore everything in 'data/' but keep .gitkeep and track DVC files
data/
!data/*.dvc
!data/.gitkeep

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.bak

# Large files
*.csv
*.txt
*.zip